@model AnimeListVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" asp-action="Edit">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Edit Anime</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <input hidden asp-for="Id" />
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ImageUrl"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ImageUrl" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Synopsis"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Synopsis" class="form-control"></textarea>
                        <span asp-validation-for="Synopsis" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Edit" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fa-solid fa-caret-left"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}